.root {
  position: relative;
}

.card {
  position: relative;

  z-index: 100;
}

.root + .root {
  margin-top: var(--space-three);
}

.container {
  display: flex;
  flex-direction: row;
  padding: var(--space-one);
}

.summary {
  flex: 0 0 5rem;

  margin: calc( -1 * var(--space-one));
  margin-right: var(--space-one);
  padding: var(--space-one);

  border-right: 1px solid var(--color-dark-temp);

  line-height: 1;
  text-align: center;
}

.goal {
  font-size: var(--font-size-n);
}
.goal.goal--done {
  text-decoration: line-through;
}

.total {
  font-size: var(--font-size-xl);
}
.total.goal--done {
  color: green;
}
.total.goal--under {
  color: red;
}

.items {
  flex: 1 0 auto;
  width: 0;
}

.grid {
  display: grid;
  gap: var(--space-one); 
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 460px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 560px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 980px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1160px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.extra {
  position: absolute;
  right: 0;
  bottom: 100%;

  z-index: 0;

  width: 6ch;
  margin-left: calc(-1 * (var(--space-half) + 2ch));
  margin-bottom: calc(-1 * var(--space-quarter));

  white-space: nowrap;
}

