@font-face {
  font-family: "Passion One";
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/PassionOne-Regular.ttf) format("truetype");
  ascent-override: 90%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: 16px;
  font-size-adjust: ex-height 0.8;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 100%;

  font-family: "Passion One", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-n);
  line-height: var(--line-height-n);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #111;
}

#root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  height: 100vh;
  width: 100%;
  padding: var(--space-two) var(--space-one);
  padding-bottom: 7.5rem;
  overflow: hidden;
  overflow-y: auto;

  background: #222;
  color: #ededed;
}

@media screen and (min-width: 980px) {
  #root {
    width: 60vw;
    height: 80vh;
    max-height: 85vh;
    min-width: 700px;
    max-width: 1100px;
    padding: var(--space-two) var(--space-four);

    border-radius: var(--radius-heavy);
  }
}
